In [1]:
import pandas as pd

In [2]:
path = "../../Documents/Ticket Sales.xlsx"

stubhub = pd.read_excel(path, sheet_name ="stubhub")
ticketweb = pd.read_excel(path, sheet_name ="TicketWeb")

In [3]:
market = stubhub.join(ticketweb[["Artist", "Tier", "TicketWeb"]].set_index('Artist'), on='Artist', how='outer') 
market.iloc[ :, 1:7].sort_values(['Dates'], ascending=True)

,Dates,Stubhub,Me,Stubhub_1,Stubhub_2,Stubhub_3
27.0,2024-11-13,"[225.0, 232.0, 239.0]",0.0,225.0,232.0,239.0
51.0,2024-11-14,"[1799.0, 1800.0, 1951.0]",0.0,1799.0,1800.0,1951.0
53.0,2024-11-14,"[36.0, 36.0, 37.0]",0.0,36.0,36.0,37.0
52.0,2024-11-14,"[93.0, 98.0, 103.0]",0.0,93.0,98.0,103.0
50.0,2024-11-14,"[1799.0, 1800.0, 1951.0]",0.0,1799.0,1800.0,1951.0
...,...,...,...,...,...,...
78.0,NaT,"[59.0, 59.0, 63.0]",0.0,59.0,59.0,63.0
NaN,NaT,NaN,NaN,NaN,NaN,NaN
NaN,NaT,NaN,NaN,NaN,NaN,NaN
NaN,NaT,NaN,NaN,NaN,NaN,NaN
NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [4]:
market["profit"] = market["Stubhub_1"] - market["TicketWeb"]
market[ (market['TicketWeb'].isnull()== False)].sort_values(['Dates'], ascending=True)

,Artist,Dates,Stubhub,Me,Stubhub_1,Stubhub_2,Stubhub_3,Tier,TicketWeb,profit
7.0,Ship Wrek,2024-11-15,"[40.0, 50.0, 80.0]",80.0,40.0,50.0,80.0,2,31.74,8.26
10.0,Sullivan King,2024-11-15,"[74.0, 76.0, 85.0]",74.0,74.0,76.0,85.0,4,54.78,19.22
9.0,MK,2024-11-22,"[74.0, 74.0, 98.0]",74.0,74.0,74.0,98.0,2,42.09,31.91
65.0,Virtual Riot,2024-12-06,"[58.0, 61.0, 95.0]",0.0,58.0,61.0,95.0,3,40.09,17.91
14.0,Green Velvet,2024-12-13,"[69.0, 69.0, 84.0]",69.0,69.0,69.0,84.0,3,52.78,16.22
5.0,Layz,2024-12-13,"[69.0, 89.0, 89.0]",90.0,69.0,89.0,89.0,1,49.00,20.00
6.0,Markus Schulz,2024-12-20,"[81.0, 81.0, 82.0]",81.0,81.0,81.0,82.0,3,38.09,42.91
3.0,Lilly Palmer,2024-12-26,"[93.0, 95.0, 97.0]",95.0,93.0,95.0,97.0,3,50.78,42.22
4.0,gryffin,2024-12-27,"[72.0, 72.0, 81.0]",90.0,72.0,72.0,81.0,4,67.48,4.52
1.0,Alan Walker,2025-02-07,"[122.0, 122.0, 123.0]",123.0,122.0,122.0,123.0,5,105.55,16.45
NaN,Dion Timmer,NaT,NaN,NaN,NaN,NaN,NaN,2,40.09,NaN
NaN,Emorfik,NaT,NaN,NaN,NaN,NaN,NaN,3,49.00,NaN
NaN,Kaivon,NaT,NaN,NaN,NaN,NaN,NaN,2,33.74,NaN
NaN,Lavern,NaT,NaN,NaN,NaN,NaN,NaN,2,34.74,NaN
NaN,Shiba San,NaT,NaN,NaN,NaN,NaN,NaN,1,64.08,NaN
NaN,Timmy Trumpet,NaT,NaN,NaN,NaN,NaN,NaN,4,67.48,NaN
NaN,Umek,NaT,NaN,NaN,NaN,NaN,NaN,2,31.74,NaN
NaN,Vini Vici,NaT,NaN,NaN,NaN,NaN,NaN,4,50.78,NaN

In [5]:
# Filter the market DataFrame to show where Stubhub is cheaper than Me
cheaper_stubhub = market[market['Stubhub_1'] < market['Me']]


print(cheaper_stubhub)

                       Artist      Dates                Stubhub     Me  \
1.0               Alan Walker 2025-02-07  [122.0, 122.0, 123.0]  123.0
15.0                  Atliens 2024-11-16     [45.0, 47.0, 47.0]   58.0
2.0                Becky Hill 2024-11-21     [80.0, 84.0, 86.0]  105.0
0.0   Black Tiger Sex Machine 2024-11-23   [86.0, 165.0, 180.0]  165.0
5.0                      Layz 2024-12-13     [69.0, 89.0, 89.0]   90.0
3.0              Lilly Palmer 2024-12-26     [93.0, 95.0, 97.0]   95.0
16.0                    Malaa 2025-02-08     [49.0, 52.0, 53.0]   54.0
13.0            Nora En Pure  2024-12-27     [44.0, 45.0, 54.0]   69.0
7.0                 Ship Wrek 2024-11-15     [40.0, 50.0, 80.0]   80.0
4.0                   gryffin 2024-12-27     [72.0, 72.0, 81.0]   90.0

      Stubhub_1  Stubhub_2  Stubhub_3      Tier  TicketWeb  profit
1.0       122.0      122.0      123.0         5     105.55   16.45
15.0       45.0       47.0       47.0       NaN        NaN     NaN
2.0        80.0       84.0       86.0  Sold Out        NaN     NaN
0.0        86.0      165.0      180.0       NaN        NaN     NaN
5.0        69.0       89.0       89.0         1      49.00   20.00
3.0        93.0       95.0       97.0         3      50.78   42.22
16.0       49.0       52.0       53.0       NaN        NaN     NaN
13.0       44.0       45.0       54.0       NaN        NaN     NaN
7.0        40.0       50.0       80.0         2      31.74    8.26
4.0        72.0       72.0       81.0         4      67.48    4.52